table {
  empty-cells: show;
  table-layout: fixed;
  width: 100%
}

th,
td {
  border: 1px solid black;
  width: 64px;
  height: 64px;
  overflow: hidden;
}

.fixedElement {
  background-color: #c0c0c0;
  position: fixed;
  top: 0;
  width: 98vw;
  z-index: 100;
  display: flex;
}

.label {
  padding: 10px;
  margin: 10px;
}

.radioButton {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;

}

#map {
  margin: 40px;
  padding: 40px;
}