table {
    empty-cells: show;
    table-layout: fixed;
    width: 100%
}

th,
td {
    border: 1px solid black;
    width: 64px;
    height: 64px;
    overflow: hidden;
}

tr {
    background-color: #886A08;
}

.fixedElement {
    background-color: #c0c0c0;
    position: fixed;
    z-index: 100;
    display: flex;
}

.label {
    padding: 10px;
    margin: 10px;
}

.radioButton {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#map {
    margin: 40px;
    padding: 40px;
}

#menu {
    top: 0;
    width: 98vw;
}

#left_menu_div {
    top: 3vw;
    width: 200px;
    visibility: hidden;
}

.game_object_selection {
    padding: 10px;
}